<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Select your Channel</title>
</head>
<body>
<h1 style="color: blue">Pick your Channel</h1>
<h3 style="color: Pink">Register For New Account</h3>

<div>

<div th:each="channel : ${channels}">
    Channel Id Number:  <a th:href="@{/welcome/_${channel.channelId/}_${user.userid}_/messagingChat/}"><span style="color: red" th:text="${channel.channelId}"> </span></a>
    <br />
    Channel Name: <span style="color: blue" th:text="${channel.name}"> </span> <br />
    <hr>
</div >

</div>
</body>
</html>