<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Select your Channel</title>
</head>
<body>
<h1 style="color: blue">Pick your Channel</h1>
<h3 style="color: Pink">Register For New Account</h3>

<div>

<!--    th:href="@{/welcome/messagingChat/} + ${user.userid}"-->

<div th:each="channel : ${channels}">
    Channel Id Number:  <span style="color: red" th:text="${channel.channelId}"> </span>
    <br />
    Channel Name: <a th:href="@{/welcome/messagingChat/} + ${channel.channelId}"><span style="color: blue" th:text="${channel.name}"> </span></a>
    <br />
    <hr>
</div >

</div>
</body>
</html>