<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" >
<head>
    <meta charset="UTF-8">
    <title>Welcome Page</title>
</head>
<body>

<h1 style="color: Green"> Welcome To Instant Messaging Chat </h1>
<h3 style="color: Pink">Register For New Account</h3>

<div >



    <h1> Users </h1>
<!--    <div th:if="${#lists.size(users) == 1}" >-->
<!--        <form action="" method="post">-->
<!--            <div>-->
<!--                Userid: <input type="text" th:field="${users.userid}"/>-->
<!--            </div>-->
<!--            <div>-->
<!--                Username: <input type="text" th:field="${users.username}"/>-->
<!--            </div>-->
<!--        </form>-->
<!--    </div>

th:unless="${#lists.size(users) == 1 || users.isEmpty()}"
-->

    <div th:each="user : ${users}">
        Id Number:  <a th:href="@{/welcome/channel/} + ${user.userid}"><span style="color: red" th:text="${user.userid}"> </span></a>
        <br />
        Username: <span style="color: blue" th:text="${user.username}"> </span> <br />
        <hr>
    </div >

</div>

</body>
</html>